#floating-screens {
  height: 480px;
  position: relative;

  @media (min-width: map-get($grid-breakpoints, md)) {
    height: 811px;
  }

  .video-text-container {
    margin-top: 204px;
    color: white;

    @media (min-width: map-get($grid-breakpoints, md )) {
      margin-top: 370px;
      padding: 0 2rem;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      margin-top: 529px;
    }

    h3 {
      font-size: 2rem;
      line-height: 1.25;
      font-weight: 500;

      @media (min-width: map-get($grid-breakpoints, md )) {
        font-size: 4.5rem;
        line-height: 1.11;
      }
    }

    p {
      line-height: 1.5;

      @media (min-width: map-get($grid-breakpoints, md )) {
        font-size: 1.5rem;
        line-height: 1.33;
      }
    }
  }

  #bgVideo {
    position: absolute;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .back-gradient {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  }
}
