@import './common/index';
@import './components/index';

html {
  scroll-behavior: smooth;
}

body,
p {
  margin: 0;
  @include font-family($font-secondary);
}

body {
  background-color: $palette-gray;
}

h1,
h2,
h3 {
  @include font-family($font-primary);
  font-weight: normal;
}

h1 {
  font-size: 72px;
  line-height: 1.11;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
