@font-face {
  src: url('../../assets/Fonts/Whyteink/WhyteInktrap-Regular.ttf')
    format('truetype');
  font-family: 'Whyte Inktrap';
}

@font-face {
  src: url('../../assets/Fonts/Source pro/SourceSansPro-SemiBold.ttf')
    format('truetype');
  font-family: 'SourceSansPro-SemiBold';
}

@font-face {
  src: url('../../assets/Fonts/Source pro/SourceSansPro-Regular.ttf')
    format('truetype');
  font-family: 'SourceSansPro-Regular';
}

@font-face {
  src: url('../../assets/Fonts/Open Sans/OpenSans-Regular.ttf')
    format('truetype');
  font-family: 'Open Sans';
}
