//Fonts
$font-primary: 'Whyte Inktrap';
$font-secondary: 'SourceSansPro-Regular';
$font-thirdly: 'SourceSansPro-SemiBold';

//Colors
$palette-orange: #e85500;
$palette-gray-dark: #e9ecf0;
$palette-blueish: #677993;
$palette-gray: #f6f6f6;
$palette-white: #ffffff;
$palette-black: #000000;
